<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BUS_TICKETING_SYSTEM.My.MySettings.recordsConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=records;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BUS_TICKETING_SYSTEM.My.MySettings.adminrecordConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=adminrecord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BUS_TICKETING_SYSTEM.My.MySettings.AdminRecConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AdminRec;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BUS_TICKETING_SYSTEM.My.MySettings.RECSConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RECS;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>